@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

* {
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9f8f9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.16' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Sedgwick Ave', cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 16px rgba(0, 0, 0, 0.2);
}
.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400px;
  font-style: italic;
}
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #f9f8f9;
  background: #333;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.65);
  color: #38a1f3;
  transform: translateY(-2px);
  border: 1px solid black;
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem black;
}

.twitter-button:hover {
  color: #38a1f3;
}

/* Loader */

.loader {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #524656;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: '';
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #467bcf;
  animation: l1-0 0.5s cubic-bezier(0, 900, 1, 900) infinite,
    l1-1 2s linear infinite;
}
@keyframes l1-0 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes l1-1 {
  0% {
    translate: -500%;
  }
  to {
    translate: 500%;
  }
}

/* Media Query */
@media screen and (max-width: 100) {
  .quote-container {
    margin: auto 10px;
  }
}

.quote-text {
  font-size: 2.5rem;
}
